*.[oa]
*.l[oa]
*.log
*~
*.cache
*.dSYM
.deps
.libs
doc/_build
tests/*.trs
ar-lib
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
Makefile
Makefile.in
baton.pc
GPATH
GRTAGS
GTAGS
