*.[oa]
*.l[oa]
*.log
*~
*.cache
*.dSYM
.deps
.libs
doc/_build
tests/*.trs
ar-lib
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
Makefile
Makefile.in
baton.pc
GPATH
GRTAGS
GTAGS
aclocal.m4
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/baton-chmod
src/baton-get
src/baton-list
src/baton-metamod
src/baton-metaquery
src/baton-metasuper
